version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps): "
    cooldown:
      default-days: 7
    groups:
      actions-deps:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps): "
    cooldown:
      default-days: 7
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
